<form action="<%=cat_url%>" method="post">
  <input type = 'hidden' name = '_method' value = 'PATCH'/>
  <label for="birth_date">birth date:</label>
  <input type = "date" id = "birth_date" name = "cat[birth_date]" value = "<%=@cat.birth_date%>"/>
  <br>
  <label for="color">color:</label>
  <select>
    <option disabled> -- Select A Color -- </option>
    <% Cat.colors.each do |color| %>
    <option <%= @cat.color == color ? "selected" : "" %> value="<%= color %>"> <%= color.capitalize %> </option>
    <% end %>
  </select>
  <br>

  <label for="name">name:</label>
  <input type = "text" id = "name" name = "cat[name]" value = "<%=@cat.name%>"/>
  <br>

  <label for="sex">sex:</label>
  <input <%= @cat.sex == 'M' ? "checked=\"checked\"" : "" %> type = "radio" name = "sex" name = "cat[sex]" value = "M"/> M
  <input <%= @cat.sex == 'F' ? "checked=\"checked\"" : "" %> type = "radio" name = "sex" name = "cat[sex]" value = "F"/> F
  <br>

  <label for="description">description:</label>
  <textarea id = "description" name = "cat[description]"><%=@cat.description%></textarea>
  <br>

  <input type="submit" value="Save Edits">
</form>
