<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user.nil? %>
    <%= button_to "login", new_session_url, method: :get%>
    <% else %>
    <h1> Welcome back, <%= current_user.user_name %>! </h1>
    <%= button_to "logout", session_url(current_user.id), method: :delete %>
    <% end %>
    <%= render 'shared/errors' %>
    <%= yield %>
  </body>
</html>
